<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hhduan.market.mapper.ChatMapper">
  <resultMap id="BaseResultMap" type="top.hhduan.market.entity.Chat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="another_user_id" jdbcType="VARCHAR" property="anotherUserId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
  </resultMap>
</mapper>
